{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "@typescript-eslint/restrict-template-expressions": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "newlines-between": "always"
      }
    ],
    "newline-before-return": "error",
    "react/jsx-sort-props": [
      "error",
      {
        "ignoreCase": true,
        "reservedFirst": true
      }
    ],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "sort-keys": [
      "warn",
      "asc",
      {
        "caseSensitive": false,
        "natural": true
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
